In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
from patsy import dmatrices
from sklearn.cross_validation import train_test_split
%matplotlib inline

In [2]:
#crunchinvestments = pd.read_csv('D:/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/investments.csv')
#crunchcompanies = pd.read_csv('D:/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/companies.csv')
crunchinvestments = pd.read_csv('/Users/jeffcoggshall/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/investments.csv')
crunchcompanies = pd.read_csv('/Users/jeffcoggshall/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/companies.csv')
crunchaquisitions = pd.read_csv('/Users/jeffcoggshall/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/acquisitions.csv')
crunchrounds = pd.read_csv('/Users/jeffcoggshall/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/rounds.csv')
crunchadditions = pd.read_csv('/Users/jeffcoggshall/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/rounds.csv')

In [3]:
crunchinvestments.head(2)

,company_permalink,company_name,company_category_list,company_country_code,company_state_code,company_region,company_city,investor_permalink,investor_name,investor_country_code,investor_state_code,investor_region,investor_city,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/0-6-com,0-6.com,Curated Web,CHN,22,Beijing,Beijing,/organization/dt-capital-partners,DT Capital Partners,CHN,23,Shanghai,Shanghai,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,2008-03-19,2000000.0
1,/organization/004-technologies,004 Technologies,Software,USA,IL,"Springfield, Illinois",Champaign,/organization/venturecapital-de,VCDE Venture Partners,DEU,5,Frankfurt,Frankfurt,/funding-round/1278dd4e6a37fa4b7d7e06c21b3c1830,venture,NaN,2014-07-24,NaN

In [4]:
crunchcompanies.head(2)

,permalink,name,homepage_url,category_list,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at
0,/organization/-fame,#fame,http://livfame.com,Media,10000000,operating,IND,16,Mumbai,Mumbai,1,NaN,2015-01-05,2015-01-05
1,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,700000,operating,USA,DE,DE - Other,Delaware City,2,2014-09-04,2014-03-01,2014-10-14

In [5]:
crunchaquisitions.head(2)

,company_permalink,company_name,company_category_list,company_country_code,company_state_code,company_region,company_city,acquirer_permalink,acquirer_name,acquirer_category_list,acquirer_country_code,acquirer_state_code,acquirer_region,acquirer_city,acquired_at,acquired_month,price_amount,price_currency_code
0,/organization/003-ru,003.RU,Consumer Electronics|Electronics|Internet,RUS,48,Moscow,Moscow,/organization/media-saturn,Media Saturn,Enterprise Software|Media|Sales and Marketing,ESP,56,Barcelona,Barcelona,2012-07-23,2012-07,NaN,USD
1,/organization/0958572-b-c-ltd,0958572 B.C. Ltd.,NaN,NaN,NaN,NaN,NaN,/organization/atlas-intellectual-property-mana...,ATLAS Intellectual Property Management Co.,Finance|FinTech|Mobile|Telecommunications,USA,WA,Seattle,Seattle,2012-02-02,2012-02,9000000.0,USD

In [6]:
crunchrounds.head(2)

,company_permalink,company_name,company_category_list,company_country_code,company_state_code,company_region,company_city,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,#fame,Media,IND,16,Mumbai,Mumbai,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,2015-01-05,10000000.0
1,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA,DE,DE - Other,Delaware City,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,2014-10-14,NaN

In [7]:
usrounds = crunchrounds[crunchrounds["company_country_code"]=='USA']

In [8]:
usrounds.head()

,company_permalink,company_name,company_category_list,company_country_code,company_state_code,company_region,company_city,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
1,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA,DE,DE - Other,Delaware City,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,2014-10-14,NaN
2,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA,DE,DE - Other,Delaware City,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,2014-03-01,700000.0
5,/organization/004-technologies,004 Technologies,Software,USA,IL,"Springfield, Illinois",Champaign,/funding-round/1278dd4e6a37fa4b7d7e06c21b3c1830,venture,NaN,2014-07-24,NaN
9,/organization/0xdata,H2O.ai,Analytics,USA,CA,SF Bay Area,Mountain View,/funding-round/383a9bd2c04f7038bb543ccef5ba3eae,seed,NaN,2013-05-22,3000000.0
10,/organization/0xdata,H2O.ai,Analytics,USA,CA,SF Bay Area,Mountain View,/funding-round/3bb2ee4a2d89251a10aaa735b1180e44,venture,B,2015-11-09,20000000.0

In [9]:
statecounts = pd.DataFrame({'count': usrounds.groupby(['company_state_code']).size()}).reset_index()
statecounts[:3]

  company_state_code  count
0                 AK     27
1                 AL    176
2                 AR    237

In [10]:
usrounds[['company_name','company_category_list','funding_round_type',
          'company_state_code']].groupby(['company_state_code',
        'funding_round_type']).agg(['count'])

                                         company_name company_category_list
                                                count                 count
company_state_code funding_round_type
AK                 angel                            1                     1
                   debt_financing                   3                     2
                   equity_crowdfunding              6                     6
                   post_ipo_equity                  1                     1
                   private_equity                   1                     1
                   seed                             4                     4
                   undisclosed                      1                     1
                   venture                         10                    10
AL                 angel                            4                     4
                   convertible_note                 2                     2
                   debt_financing                  15                    14
                   equity_crowdfunding             20                    20
                   grant                            5                     5
                   non_equity_assistance            1                     1
                   private_equity                   7                     7
                   product_crowdfunding             1                     1
                   seed                            25                    24
                   undisclosed                     12                    11
                   venture                         84                    84
AR                 angel                            3                     3
                   convertible_note                 1                     1
                   debt_financing                   3                     3
                   equity_crowdfunding            132                   123
                   grant                           10                    10
                   non_equity_assistance            1                     1
                   post_ipo_equity                  2                     2
                   private_equity                   1                     1
                   seed                            34                    34
                   venture                         50                    50
AZ                 angel                           22                    22
...                                               ...                   ...
WA                 seed                           468                   464
                   undisclosed                     50                    49
                   venture                       1443                  1431
WI                 angel                           18                    18
                   convertible_note                 7                     7
                   debt_financing                  51                    50
                   equity_crowdfunding             20                    18
                   grant                           13                    12
                   non_equity_assistance            1                     1
                   post_ipo_debt                    1                     1
                   post_ipo_equity                  2                     2
                   private_equity                   9                     8
                   seed                            77                    77
                   undisclosed                     15                    10
                   venture                        234                   232
WV                 angel                            1                     1
                   convertible_note                 1                     1
                   debt_financing                   7                     7
                   equity_crowdfunding              5                     4
                   post_ipo_equity                  1                     1
                   private_equity                   1                     1
                   seed                             3                     3
                   undisclosed                      1                     1
                   venture                          7                     7
WY                 convertible_note                 3                     3
                   debt_financing                   3                     2
                   equity_crowdfunding              9                     9
                   seed                             7                     7
                   undisclosed                      1                     1
                   venture                          9                     8

[572 rows x 2 columns]

In [11]:
crunchinvestments.columns

Index(['company_permalink', 'company_name', 'company_category_list',
       'company_country_code', 'company_state_code', 'company_region',
       'company_city', 'investor_permalink', 'investor_name',
       'investor_country_code', 'investor_state_code', 'investor_region',
       'investor_city', 'funding_round_permalink', 'funding_round_type',
       'funding_round_code', 'funded_at', 'raised_amount_usd'],
      dtype='object')

In [12]:
crunchcompanies.columns

Index(['permalink', 'name', 'homepage_url', 'category_list',
       'funding_total_usd', 'status', 'country_code', 'state_code', 'region',
       'city', 'funding_rounds', 'founded_at', 'first_funding_at',
       'last_funding_at'],
      dtype='object')

In [13]:
crunchrounds.columns

Index(['company_permalink', 'company_name', 'company_category_list',
       'company_country_code', 'company_state_code', 'company_region',
       'company_city', 'funding_round_permalink', 'funding_round_type',
       'funding_round_code', 'funded_at', 'raised_amount_usd'],
      dtype='object')

In [14]:
stateabbrev = pd.read_csv('state_abbreviations.csv',names=["fullname","abbrev","code"])

In [15]:
companies_state = crunchcompanies['state_code']
rounds_state = crunchrounds['company_state_code']
investments_state = crunchinvestments['company_state_code']

In [16]:
stateabbrev.head(3)

  fullname  abbrev code
0  Alabama    Ala.   AL
1   Alaska  Alaska   AK
2  Arizona   Ariz.   AZ

In [17]:
stateabbrev.shape

(50, 3)

In [18]:
statecounts.shape

(53, 2)

In [19]:
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [23]:
q = "Select * from statecounts left join stateabbrev on stateabbrev.code= statecounts.company_state_code"
matched = pysqldf(q)

In [24]:
matched.head()

  company_state_code  count    fullname  abbrev code
0                 AK     27      Alaska  Alaska   AK
1                 AL    176     Alabama    Ala.   AL
2                 AR    237    Arkansas    Ark.   AR
3                 AZ    665     Arizona   Ariz.   AZ
4                 CA  26664  California  Calif.   CA

In [ ]:
crunchinvestments = pd.read_csv('/Users/jeffcoggshall/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/investments.csv')

In [ ]:
colName = ['stateCode', 'counts']
pd.DataFrame(np.array(statecounts), columns=colName)

In [ ]:
pd.concat([stateabbrev,statecounts],axis=0)

In [ ]:
# add additional column with full name from the stateabbrev:
# need to make stateabbrev into a dict so its easy to access
statedict = stateabbrev.to_dict(orient='records')
st

In [ ]:
companies_state