In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
from patsy import dmatrices
from sklearn.cross_validation import train_test_split
%matplotlib inline

In [3]:
#crunchinvestments = pd.read_csv('D:/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/investments.csv')
#crunchcompanies = pd.read_csv('D:/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/companies.csv')
#crunchaquisitions = pd.read_csv('D:/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/acquisitions.csv')
#crunchrounds = pd.read_csv('D:/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/rounds.csv')

crunchinvestments = pd.read_csv('/Users/jeffcoggshall/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/investments.csv')
crunchcompanies = pd.read_csv('/Users/jeffcoggshall/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/companies.csv')
crunchaquisitions = pd.read_csv('/Users/jeffcoggshall/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/acquisitions.csv')
crunchrounds = pd.read_csv('/Users/jeffcoggshall/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/rounds.csv')
crunchadditions = pd.read_csv('/Users/jeffcoggshall/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/additions.csv')

In [4]:
crunchinvestments.head(2)

,company_permalink,company_name,company_category_list,company_country_code,company_state_code,company_region,company_city,investor_permalink,investor_name,investor_country_code,investor_state_code,investor_region,investor_city,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/0-6-com,0-6.com,Curated Web,CHN,22,Beijing,Beijing,/organization/dt-capital-partners,DT Capital Partners,CHN,23,Shanghai,Shanghai,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,2008-03-19,2000000.0
1,/organization/004-technologies,004 Technologies,Software,USA,IL,"Springfield, Illinois",Champaign,/organization/venturecapital-de,VCDE Venture Partners,DEU,5,Frankfurt,Frankfurt,/funding-round/1278dd4e6a37fa4b7d7e06c21b3c1830,venture,NaN,2014-07-24,NaN

In [5]:
crunchcompanies.head(2)

,permalink,name,homepage_url,category_list,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at
0,/organization/-fame,#fame,http://livfame.com,Media,10000000,operating,IND,16,Mumbai,Mumbai,1,NaN,2015-01-05,2015-01-05
1,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,700000,operating,USA,DE,DE - Other,Delaware City,2,2014-09-04,2014-03-01,2014-10-14

In [108]:
crunchaquisitions.head(2)

,company_permalink,company_name,company_category_list,company_country_code,company_state_code,company_region,company_city,acquirer_permalink,acquirer_name,acquirer_category_list,acquirer_country_code,acquirer_state_code,acquirer_region,acquirer_city,acquired_at,acquired_month,price_amount,price_currency_code
0,/organization/003-ru,003.RU,Consumer Electronics|Electronics|Internet,RUS,48,Moscow,Moscow,/organization/media-saturn,Media Saturn,Enterprise Software|Media|Sales and Marketing,ESP,56,Barcelona,Barcelona,2012-07-23,2012-07,NaN,USD
1,/organization/0958572-b-c-ltd,0958572 B.C. Ltd.,NaN,NaN,NaN,NaN,NaN,/organization/atlas-intellectual-property-mana...,ATLAS Intellectual Property Management Co.,Finance|FinTech|Mobile|Telecommunications,USA,WA,Seattle,Seattle,2012-02-02,2012-02,9000000.0,USD

In [7]:
crunchrounds.head(2)

,company_permalink,company_name,company_category_list,company_country_code,company_state_code,company_region,company_city,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,#fame,Media,IND,16,Mumbai,Mumbai,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,2015-01-05,10000000.0
1,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA,DE,DE - Other,Delaware City,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,2014-10-14,NaN

In [114]:
crunchadditions.head()

        content month_str  year_str  value
0  Acquisitions   1960-01      1960      1
1  Acquisitions   1966-11      1966      1
2  Acquisitions   1967-04      1967      1
3  Acquisitions   1972-01      1972      1
4  Acquisitions   1973-01      1973      1

In [116]:
usinvestments = crunchinvestments[crunchinvestments["company_country_code"]=='USA']
uscompanies = crunchcompanies[crunchcompanies["country_code"]=='USA']
usaquisitions = crunchaquisitions[crunchaquisitions["company_country_code"]=='USA']
usrounds = crunchrounds[crunchrounds["company_country_code"]=='USA']

In [117]:
usrounds.head(2)

,company_permalink,company_name,company_category_list,company_country_code,company_state_code,company_region,company_city,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
1,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA,DE,DE - Other,Delaware City,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,2014-10-14,NaN
2,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA,DE,DE - Other,Delaware City,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,2014-03-01,700000.0

In [121]:
operating = uscompanies[uscompanies["status"]=='operating']
acquired = uscompanies[uscompanies["status"]=='acquired']
closed = uscompanies[uscompanies["status"]=='closed']
ipo = uscompanies[uscompanies["status"]=='ipo']

In [127]:
statecounts = pd.DataFrame({'count': usrounds.groupby(['company_state_code']).size()}).reset_index()
operatingcounts = pd.DataFrame({'count': operating.groupby(['state_code']).size()}).reset_index()
acquiredcounts = pd.DataFrame({'count': acquired.groupby(['state_code']).size()}).reset_index()
closedcounts = pd.DataFrame({'count': closed.groupby(['state_code']).size()}).reset_index()
ipocounts = pd.DataFrame({'count': ipo.groupby(['state_code']).size()}).reset_index()

In [10]:
statecounts[:3]

  company_state_code  count
0                 AK     27
1                 AL    176
2                 AR    237

In [130]:
acquiredcounts[:3]

  state_code  count
0         AL      6
1         AR      2
2         AZ     20

In [11]:
usrounds[['company_name','company_category_list','funding_round_type',
          'company_state_code']].groupby(['company_state_code',
        'funding_round_type']).agg(['count'])

                                         company_name company_category_list
                                                count                 count
company_state_code funding_round_type
AK                 angel                            1                     1
                   debt_financing                   3                     2
                   equity_crowdfunding              6                     6
                   post_ipo_equity                  1                     1
                   private_equity                   1                     1
                   seed                             4                     4
                   undisclosed                      1                     1
                   venture                         10                    10
AL                 angel                            4                     4
                   convertible_note                 2                     2
                   debt_financing                  15                    14
                   equity_crowdfunding             20                    20
                   grant                            5                     5
                   non_equity_assistance            1                     1
                   private_equity                   7                     7
                   product_crowdfunding             1                     1
                   seed                            25                    24
                   undisclosed                     12                    11
                   venture                         84                    84
AR                 angel                            3                     3
                   convertible_note                 1                     1
                   debt_financing                   3                     3
                   equity_crowdfunding            132                   123
                   grant                           10                    10
                   non_equity_assistance            1                     1
                   post_ipo_equity                  2                     2
                   private_equity                   1                     1
                   seed                            34                    34
                   venture                         50                    50
AZ                 angel                           22                    22
...                                               ...                   ...
WA                 seed                           468                   464
                   undisclosed                     50                    49
                   venture                       1443                  1431
WI                 angel                           18                    18
                   convertible_note                 7                     7
                   debt_financing                  51                    50
                   equity_crowdfunding             20                    18
                   grant                           13                    12
                   non_equity_assistance            1                     1
                   post_ipo_debt                    1                     1
                   post_ipo_equity                  2                     2
                   private_equity                   9                     8
                   seed                            77                    77
                   undisclosed                     15                    10
                   venture                        234                   232
WV                 angel                            1                     1
                   convertible_note                 1                     1
                   debt_financing                   7                     7
                   equity_crowdfunding              5                     4
                   post_ipo_equity                  1                     1
                   private_equity                   1                     1
                   seed                             3                     3
                   undisclosed                      1                     1
                   venture                          7                     7
WY                 convertible_note                 3                     3
                   debt_financing                   3                     2
                   equity_crowdfunding              9                     9
                   seed                             7                     7
                   undisclosed                      1                     1
                   venture                          9                     8

[572 rows x 2 columns]

In [15]:
stateabbrev = pd.read_csv('state_abbreviations.csv',names=["fullname","abbrev","code"])

In [16]:
companies_state = crunchcompanies['state_code']
rounds_state = crunchrounds['company_state_code']
investments_state = crunchinvestments['company_state_code']

In [17]:
stateabbrev.head(3)

  fullname  abbrev code
0  Alabama    Ala.   AL
1   Alaska  Alaska   AK
2  Arizona   Ariz.   AZ

In [18]:
stateabbrev.shape

(50, 3)

In [19]:
statecounts.shape

(53, 2)

In [20]:
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [131]:
q_statecounts = "Select * from statecounts left join stateabbrev on stateabbrev.code= statecounts.company_state_code"
q_operatingcounts = "Select * from operatingcounts left join stateabbrev on stateabbrev.code= operatingcounts.state_code"
q_acquiredcounts = "Select * from acquiredcounts left join stateabbrev on stateabbrev.code= acquiredcounts.state_code"
q_closedcounts = "Select * from closedcounts left join stateabbrev on stateabbrev.code= closedcounts.state_code"
q_ipocounts = "Select * from ipocounts left join stateabbrev on stateabbrev.code= ipocounts.state_code"

In [132]:
statecountsmatch = pysqldf(q_statecounts)
operatingcountsmatch = pysqldf(q_operatingcounts)
acquiredcountsmatch = pysqldf(q_acquiredcounts)
closedcountsmatch = pysqldf(q_closedcounts)
ipocountsmatch = pysqldf(q_ipocounts)

In [22]:
matched.fillna(value=0,inplace=True)

In [23]:
# Note "VI" is "Virgin Islands" and we can ignore I think
matched.tail(7)

   company_state_code  count       fullname abbrev code
46                 VA   1302       Virginia    Va.   VA
47                 VI      6              0      0    0
48                 VT    110        Vermont    Vt.   VT
49                 WA   2567     Washington  Wash.   WA
50                 WI    448      Wisconsin   Wis.   WI
51                 WV     27  West Virginia  W.Va.   WV
52                 WY     32        Wyoming   Wyo.   WY

In [24]:
import json
usjson = json.load(open("us-state-centroids.json"))

In [38]:
from collections import OrderedDict, defaultdict
usjsondict = json.load(open("us-state-centroids.json"),
                       object_pairs_hook = OrderedDict)

In [33]:
#usjsondict['features']

In [34]:
data = pd.DataFrame(usjson["features"])
datadict = pd.DataFrame(usjsondict['features'])

In [46]:
propertiesdf = pd.DataFrame(OrderedDict(datadict['properties'])).transpose()

In [49]:
propertiesdf.head(2)

  code     name population
0  NaN  Alabama    4447100
1  NaN   Alaska     626932

In [50]:
q2 = "Select * from propertiesdf left join matched on propertiesdf.name= matched.fullname"
propertiesmatched = pysqldf(q2)

In [52]:
propertiesmatched.head(2)

   code     name  population company_state_code  count fullname  abbrev code
0  None  Alabama     4447100                 AL  176.0  Alabama    Ala.   AL
1  None   Alaska      626932                 AK   27.0   Alaska  Alaska   AK

In [54]:
counttostate = propertiesmatched[["name","count"]]

In [91]:
counttostate.tail(2)

           name  count
50      Wyoming   32.0
51  Puerto Rico    NaN

In [85]:
np.array(counttostate["count"])

array([   176.,     27.,    665.,    237.,  26664.,   1824.,    702.,
          172.,     nan,   2010.,   1339.,    104.,    122.,   1828.,
          478.,    147.,    192.,    224.,    133.,    113.,   1218.,
         5796.,    740.,    848.,     58.,    568.,     71.,    177.,
          387.,    281.,   1208.,    185.,   7347.,   1254.,     32.,
         1179.,    132.,    756.,   1927.,    218.,    268.,     28.,
          959.,   3668.,    837.,    110.,   1302.,   2567.,     27.,
          448.,     32.,     nan])

In [88]:
stats = pd.Series(np.array(counttostate["count"]),index=counttostate["name"])

In [90]:
stats.Alabama

176.0

In [ ]:
dataprops

In [ ]:
crunchinvestments = pd.read_csv('/Users/jeffcoggshall/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/investments.csv')

In [ ]:
colName = ['stateCode', 'counts']
pd.DataFrame(np.array(statecounts), columns=colName)

In [69]:
usjsondict["features"][0]['properties']['population']

4447100

In [70]:
usjsondict["features"][0]['properties']

OrderedDict([('name', 'Alabama'), ('population', 4447100)])

In [74]:
jsonprops = usjsondict["features"][0]['properties']
jsonfeats = usjsondict["features"]

In [95]:
stats.Alabama

176.0

In [99]:
for idx, item in enumerate(usjsondict["features"]):
    state = usjsondict["features"][idx]['properties']['name']
    population = usjsondict["features"][idx]['properties']['population']
    #jsonfeats[idx]['properties']['population'] = stats[state]
    #print(state, jsonfeats[idx]['properties']['population'])
    print(state,population)

Alabama 176.0
Alaska 27.0
Arizona 665.0
Arkansas 237.0
California 26664.0
Colorado 1824.0
Connecticut 702.0
Delaware 172.0
District of Columbia nan
Florida 2010.0
Georgia 1339.0
Hawaii 104.0
Idaho 122.0
Illinois 1828.0
Indiana 478.0
Iowa 147.0
Kansas 192.0
Kentucky 224.0
Louisiana 133.0
Maine 113.0
Maryland 1218.0
Massachusetts 5796.0
Michigan 740.0
Minnesota 848.0
Mississippi 58.0
Missouri 568.0
Montana 71.0
Nebraska 177.0
Nevada 387.0
New Hampshire 281.0
New Jersey 1208.0
New Mexico 185.0
New York 7347.0
North Carolina 1254.0
North Dakota 32.0
Ohio 1179.0
Oklahoma 132.0
Oregon 756.0
Pennsylvania 1927.0
Rhode Island 218.0
South Carolina 268.0
South Dakota 28.0
Tennessee 959.0
Texas 3668.0
Utah 837.0
Vermont 110.0
Virginia 1302.0
Washington 2567.0
West Virginia 27.0
Wisconsin 448.0
Wyoming 32.0
Puerto Rico nan

In [100]:
usjsondict

OrderedDict([('type', 'FeatureCollection'),
             ('features',
              [OrderedDict([('type', 'Feature'),
                            ('id', '01'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-86.766233, 33.001471])])),
                            ('properties',
                             OrderedDict([('name', 'Alabama'),
                                          ('population', 176.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '02'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-148.716968, 61.288254])])),
                            ('properties',
                             OrderedDict([('name', 'Alaska'),
                                          ('population', 27.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '04'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-111.828711, 33.373506])])),
                            ('properties',
                             OrderedDict([('name', 'Arizona'),
                                          ('population', 665.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '05'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-92.576816, 35.080251])])),
                            ('properties',
                             OrderedDict([('name', 'Arkansas'),
                                          ('population', 237.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '06'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-119.355165, 35.458606])])),
                            ('properties',
                             OrderedDict([('name', 'California'),
                                          ('population', 26664.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '08'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-105.203628, 39.500656])])),
                            ('properties',
                             OrderedDict([('name', 'Colorado'),
                                          ('population', 1824.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '09'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-72.874365, 41.494852])])),
                            ('properties',
                             OrderedDict([('name', 'Connecticut'),
                                          ('population', 702.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '10'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-75.561908, 39.397164])])),
                            ('properties',
                             OrderedDict([('name', 'Delaware'),
                                          ('population', 172.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '11'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-77.014001, 38.910092])])),
                            ('properties',
                             OrderedDict([('name', 'District of Columbia'),
                                          ('population', nan)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '12'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-81.634622, 27.79585])])),
                            ('properties',
                             OrderedDict([('name', 'Florida'),
                                          ('population', 2010.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '13'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-83.868887, 33.332208])])),
                            ('properties',
                             OrderedDict([('name', 'Georgia'),
                                          ('population', 1339.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '15'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-157.524452, 21.146768])])),
                            ('properties',
                             OrderedDict([('name', 'Hawaii'),
                                          ('population', 104.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '16'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-115.133222, 44.242605])])),
                            ('properties',
                             OrderedDict([('name', 'Idaho'),
                                          ('population', 122.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '17'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-88.380238, 41.278216])])),
                            ('properties',
                             OrderedDict([('name', 'Illinois'),
                                          ('population', 1828.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '18'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-86.261515, 40.163935])])),
                            ('properties',
                             OrderedDict([('name', 'Indiana'),
                                          ('population', 478.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '19'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-93.049161, 41.960392])])),
                            ('properties',
                             OrderedDict([('name', 'Iowa'),
                                          ('population', 147.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '20'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-96.536052, 38.454303])])),
                            ('properties',
                             OrderedDict([('name', 'Kansas'),
                                          ('population', 192.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '21'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-85.241819, 37.808159])])),
                            ('properties',
                             OrderedDict([('name', 'Kentucky'),
                                          ('population', 224.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '22'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-91.457133, 30.69927])])),
                            ('properties',
                             OrderedDict([('name', 'Louisiana'),
                                          ('population', 133.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '23'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-69.719931, 44.313614])])),
                            ('properties',
                             OrderedDict([('name', 'Maine'),
                                          ('population', 113.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '24'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-76.797396, 39.145653])])),
                            ('properties',
                             OrderedDict([('name', 'Maryland'),
                                          ('population', 1218.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '25'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-71.363628, 42.271831])])),
                            ('properties',
                             OrderedDict([('name', 'Massachusetts'),
                                          ('population', 5796.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '26'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-84.170753, 42.866412])])),
                            ('properties',
                             OrderedDict([('name', 'Michigan'),
                                          ('population', 740.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '27'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-93.583003, 45.210782])])),
                            ('properties',
                             OrderedDict([('name', 'Minnesota'),
                                          ('population', 848.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '28'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-89.593164, 32.56642])])),
                            ('properties',
                             OrderedDict([('name', 'Mississippi'),
                                          ('population', 58.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '29'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-92.15377, 38.437715])])),
                            ('properties',
                             OrderedDict([('name', 'Missouri'),
                                          ('population', 568.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '30'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-111.209708, 46.813302])])),
                            ('properties',
                             OrderedDict([('name', 'Montana'),
                                          ('population', 71.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '31'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-97.403875, 41.183753])])),
                            ('properties',
                             OrderedDict([('name', 'Nebraska'),
                                          ('population', 177.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '32'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-116.304648, 37.165965])])),
                            ('properties',
                             OrderedDict([('name', 'Nevada'),
                                          ('population', 387.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '33'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-71.463342, 43.153046])])),
                            ('properties',
                             OrderedDict([('name', 'New Hampshire'),
                                          ('population', 281.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '34'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-74.428055, 40.438458])])),
                            ('properties',
                             OrderedDict([('name', 'New Jersey'),
                                          ('population', 1208.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '35'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-106.342108, 34.623012])])),
                            ('properties',
                             OrderedDict([('name', 'New Mexico'),
                                          ('population', 185.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '36'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-74.645228, 41.507548])])),
                            ('properties',
                             OrderedDict([('name', 'New York'),
                                          ('population', 7347.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '37'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-79.667654, 35.553334])])),
                            ('properties',
                             OrderedDict([('name', 'North Carolina'),
                                          ('population', 1254.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '38'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-99.334736, 47.375168])])),
                            ('properties',
                             OrderedDict([('name', 'North Dakota'),
                                          ('population', 32.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '39'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-82.749366, 40.480854])])),
                            ('properties',
                             OrderedDict([('name', 'Ohio'),
                                          ('population', 1179.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '40'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-96.834653, 35.59794])])),
                            ('properties',
                             OrderedDict([('name', 'Oklahoma'),
                                          ('population', 132.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '41'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-122.579524, 44.732273])])),
                            ('properties',
                             OrderedDict([('name', 'Oregon'),
                                          ('population', 756.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '42'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-77.075925, 40.463528])])),
                            ('properties',
                             OrderedDict([('name', 'Pennsylvania'),
                                          ('population', 1927.0)]))]),
               OrderedDict([('type', 'Feature'),
                            ('id', '44'),
                            ('geometry',
                             OrderedDict([('type', 'Point'),
                                          ('coordinates',
                                           [-71.448902, 41.753318])])),
                            ('properties',

In [106]:
#json.dump(usjsondict,"us-state-centroids2.json")
f = open('us-state-centroids2.json', mode='w')
json.dump(usjsondict,f)