In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
from patsy import dmatrices
from sklearn.cross_validation import train_test_split
%matplotlib inline

In [2]:
#crunchinvestments = pd.read_csv('D:/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/investments.csv')
#crunchcompanies = pd.read_csv('D:/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/companies.csv')
#crunchaquisitions = pd.read_csv('D:/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/acquisitions.csv')
#crunchrounds = pd.read_csv('D:/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/rounds.csv')
#crunchadditions = pd.read_csv('D:/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/additions.csv')

crunchinvestments = pd.read_csv('/Users/jeffcoggshall/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/investments.csv')
crunchcompanies = pd.read_csv('/Users/jeffcoggshall/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/companies.csv')
crunchaquisitions = pd.read_csv('/Users/jeffcoggshall/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/acquisitions.csv')
crunchrounds = pd.read_csv('/Users/jeffcoggshall/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/rounds.csv')
crunchadditions = pd.read_csv('/Users/jeffcoggshall/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/additions.csv')

In [3]:
crunchinvestments.head(2)

,company_permalink,company_name,company_category_list,company_country_code,company_state_code,company_region,company_city,investor_permalink,investor_name,investor_country_code,investor_state_code,investor_region,investor_city,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/0-6-com,0-6.com,Curated Web,CHN,22,Beijing,Beijing,/organization/dt-capital-partners,DT Capital Partners,CHN,23,Shanghai,Shanghai,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,2008-03-19,2000000.0
1,/organization/004-technologies,004 Technologies,Software,USA,IL,"Springfield, Illinois",Champaign,/organization/venturecapital-de,VCDE Venture Partners,DEU,5,Frankfurt,Frankfurt,/funding-round/1278dd4e6a37fa4b7d7e06c21b3c1830,venture,NaN,2014-07-24,NaN

In [4]:
crunchcompanies.head(2)

,permalink,name,homepage_url,category_list,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at
0,/organization/-fame,#fame,http://livfame.com,Media,10000000,operating,IND,16,Mumbai,Mumbai,1,NaN,2015-01-05,2015-01-05
1,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,700000,operating,USA,DE,DE - Other,Delaware City,2,2014-09-04,2014-03-01,2014-10-14

In [5]:
crunchaquisitions.head(2)

,company_permalink,company_name,company_category_list,company_country_code,company_state_code,company_region,company_city,acquirer_permalink,acquirer_name,acquirer_category_list,acquirer_country_code,acquirer_state_code,acquirer_region,acquirer_city,acquired_at,acquired_month,price_amount,price_currency_code
0,/organization/003-ru,003.RU,Consumer Electronics|Electronics|Internet,RUS,48,Moscow,Moscow,/organization/media-saturn,Media Saturn,Enterprise Software|Media|Sales and Marketing,ESP,56,Barcelona,Barcelona,2012-07-23,2012-07,NaN,USD
1,/organization/0958572-b-c-ltd,0958572 B.C. Ltd.,NaN,NaN,NaN,NaN,NaN,/organization/atlas-intellectual-property-mana...,ATLAS Intellectual Property Management Co.,Finance|FinTech|Mobile|Telecommunications,USA,WA,Seattle,Seattle,2012-02-02,2012-02,9000000.0,USD

In [6]:
crunchrounds.head(2)

,company_permalink,company_name,company_category_list,company_country_code,company_state_code,company_region,company_city,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,#fame,Media,IND,16,Mumbai,Mumbai,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,2015-01-05,10000000.0
1,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA,DE,DE - Other,Delaware City,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,2014-10-14,NaN

In [7]:
crunchadditions.head()

        content month_str  year_str  value
0  Acquisitions   1960-01      1960      1
1  Acquisitions   1966-11      1966      1
2  Acquisitions   1967-04      1967      1
3  Acquisitions   1972-01      1972      1
4  Acquisitions   1973-01      1973      1

In [8]:
usinvestments = crunchinvestments[crunchinvestments["company_country_code"]=='USA']
uscompanies = crunchcompanies[crunchcompanies["country_code"]=='USA']
usaquisitions = crunchaquisitions[crunchaquisitions["company_country_code"]=='USA']
usrounds = crunchrounds[crunchrounds["company_country_code"]=='USA']

In [9]:
usrounds.head(2)

,company_permalink,company_name,company_category_list,company_country_code,company_state_code,company_region,company_city,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
1,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA,DE,DE - Other,Delaware City,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,2014-10-14,NaN
2,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA,DE,DE - Other,Delaware City,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,2014-03-01,700000.0

In [10]:
operating = uscompanies[uscompanies["status"]=='operating']
acquired = uscompanies[uscompanies["status"]=='acquired']
closed = uscompanies[uscompanies["status"]=='closed']
ipo = uscompanies[uscompanies["status"]=='ipo']

In [11]:
statecounts = pd.DataFrame({'count': usrounds.groupby(['company_state_code']).size()}).reset_index()
operatingcounts = pd.DataFrame({'count': operating.groupby(['state_code']).size()}).reset_index()
acquiredcounts = pd.DataFrame({'count': acquired.groupby(['state_code']).size()}).reset_index()
closedcounts = pd.DataFrame({'count': closed.groupby(['state_code']).size()}).reset_index()
ipocounts = pd.DataFrame({'count': ipo.groupby(['state_code']).size()}).reset_index()

In [12]:
statecounts[:3]

  company_state_code  count
0                 AK     27
1                 AL    176
2                 AR    237

In [13]:
acquiredcounts[:3]

  state_code  count
0         AL      6
1         AR      2
2         AZ     20

In [14]:
differentiatedrounds = usrounds[['company_name','company_category_list','funding_round_type',
          'company_state_code']].groupby(['company_state_code',
        'funding_round_type']).agg(['count'])

In [15]:
differentiatedrounds.head()

                                       company_name company_category_list
                                              count                 count
company_state_code funding_round_type
AK                 angel                          1                     1
                   debt_financing                 3                     2
                   equity_crowdfunding            6                     6
                   post_ipo_equity                1                     1
                   private_equity                 1                     1

In [16]:
stateabbrev = pd.read_csv('state_abbreviations.csv',names=["fullname","abbrev","code"])

In [17]:
companies_state = crunchcompanies['state_code']
rounds_state = crunchrounds['company_state_code']
investments_state = crunchinvestments['company_state_code']

In [18]:
stateabbrev.head(3)

  fullname  abbrev code
0  Alabama    Ala.   AL
1   Alaska  Alaska   AK
2  Arizona   Ariz.   AZ

In [19]:
stateabbrev.shape

(50, 3)

In [20]:
statecounts.shape

(53, 2)

In [21]:
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [22]:
q_statecounts = "Select * from statecounts left join stateabbrev on stateabbrev.code= statecounts.company_state_code"
q_operatingcounts = "Select * from operatingcounts left join stateabbrev on stateabbrev.code= operatingcounts.state_code"
q_acquiredcounts = "Select * from acquiredcounts left join stateabbrev on stateabbrev.code= acquiredcounts.state_code"
q_closedcounts = "Select * from closedcounts left join stateabbrev on stateabbrev.code= closedcounts.state_code"
q_ipocounts = "Select * from ipocounts left join stateabbrev on stateabbrev.code= ipocounts.state_code"

In [23]:
statecountsmatch = pysqldf(q_statecounts)
operatingcountsmatch = pysqldf(q_operatingcounts)
acquiredcountsmatch = pysqldf(q_acquiredcounts)
closedcountsmatch = pysqldf(q_closedcounts)
ipocountsmatch = pysqldf(q_ipocounts)

In [24]:
statecountsmatch.fillna(value=0,inplace=True)
operatingcountsmatch.fillna(value=0,inplace=True)
acquiredcountsmatch.fillna(value=0,inplace=True)
closedcountsmatch.fillna(value=0,inplace=True)
ipocountsmatch.fillna(value=0,inplace=True)

In [25]:
# Note "VI" is "Virgin Islands" and we can ignore I think
statecountsmatch.tail(7)

   company_state_code  count       fullname abbrev code
46                 VA   1302       Virginia    Va.   VA
47                 VI      6              0      0    0
48                 VT    110        Vermont    Vt.   VT
49                 WA   2567     Washington  Wash.   WA
50                 WI    448      Wisconsin   Wis.   WI
51                 WV     27  West Virginia  W.Va.   WV
52                 WY     32        Wyoming   Wyo.   WY

In [42]:
ipocountsmatch.tail(7)

   state_code  count       fullname abbrev code
38         UT     12           Utah   Utah   UT
39         VA     22       Virginia    Va.   VA
40         VI      1              0      0    0
41         VT      1        Vermont    Vt.   VT
42         WA     37     Washington  Wash.   WA
43         WI      5      Wisconsin   Wis.   WI
44         WV      1  West Virginia  W.Va.   WV

In [43]:
closedcountsmatch.tail(7)

   state_code  count       fullname abbrev code
42         TX    158          Texas   Tex.   TX
43         UT     33           Utah   Utah   UT
44         VA     47       Virginia    Va.   VA
45         VT      3        Vermont    Vt.   VT
46         WA    108     Washington  Wash.   WA
47         WI     21      Wisconsin   Wis.   WI
48         WV      1  West Virginia  W.Va.   WV

## Import JSON file of map data for US states

In [26]:
import json
usjson = json.load(open("us-state-centroids.json"))

In [27]:
from collections import OrderedDict, defaultdict
usjsondict = json.load(open("us-state-centroids.json"),
                       object_pairs_hook = OrderedDict)

In [28]:
data = pd.DataFrame(usjson["features"])
datadict = pd.DataFrame(usjsondict['features'])

In [29]:
propertiesdf = pd.DataFrame(OrderedDict(datadict['properties'])).transpose()

In [30]:
propertiesdf.head(2)

  code     name population
0  NaN  Alabama    4447100
1  NaN   Alaska     626932

### Join count by state data to JSON file

In [31]:
q2_statecounts = "Select * from propertiesdf left join statecountsmatch on propertiesdf.name= statecountsmatch.fullname"
q2_operatingcounts = "Select * from propertiesdf left join operatingcountsmatch on propertiesdf.name= operatingcountsmatch.fullname"
q2_acquiredcounts = "Select * from propertiesdf left join acquiredcountsmatch on propertiesdf.name= acquiredcountsmatch.fullname"
q2_closedcounts = "Select * from propertiesdf left join closedcountsmatch on propertiesdf.name= closedcountsmatch.fullname"
q2_ipocounts = "Select * from propertiesdf left join ipocountsmatch on propertiesdf.name= ipocountsmatch.fullname"

statecountsmatched = pysqldf(q2_statecounts)
operatingcountsmatched = pysqldf(q2_operatingcounts)
acquiredcountsmatched = pysqldf(q2_acquiredcounts)
closedcountsmatched = pysqldf(q2_closedcounts)
ipocountsmatched = pysqldf(q2_ipocounts)

In [32]:
acquiredcountsmatch.head(2)

  state_code  count  fullname abbrev code
0         AL      6   Alabama   Ala.   AL
1         AR      2  Arkansas   Ark.   AR

In [33]:
statesCT = statecountsmatched[["name","count"]]
operatingCT = operatingcountsmatched[["name","count"]]
acquiredCT = acquiredcountsmatched[["name","count"]]
closedCT = closedcountsmatched[["name","count"]]
ipoCT = ipocountsmatched[["name","count"]]

statesCTA = pd.Series(np.array(statesCT["count"]),index=statesCT["name"])
operatingCTA = pd.Series(np.array(operatingCT["count"]),index=statesCT["name"])
acquiredCTA = pd.Series(np.array(acquiredCT["count"]),index=statesCT["name"])
closedCTA = pd.Series(np.array(closedCT["count"]),index=statesCT["name"])
ipoCTA = pd.Series(np.array(ipoCT["count"]),index=statesCT["name"])

In [34]:
statesCTA.tail(2)

name
Wyoming        32.0
Puerto Rico     NaN
dtype: float64

In [77]:
colName = ['stateCode', 'counts']
#pd.DataFrame(np.array(statecounts), columns=colName)

In [36]:
usjsondict["features"][0]['properties']['population']

4447100

In [37]:
usjsondict["features"][0]['properties']

OrderedDict([('name', 'Alabama'), ('population', 4447100)])

In [46]:
statesCTA['Washington']

2567.0

In [47]:
ipoCTA['Washington']

37.0

In [48]:
closedCTA['Washington']

108.0

In [79]:
#lets get some scales for all of these
# really should create a function that gets all the values
# and then pipes them into the d3
operatingCTA.describe()

/Users/jeffcoggshall/anaconda/envs/python35/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

count      50.00000
mean      583.12000
std      1403.00857
min        14.00000
25%             NaN
50%             NaN
75%             NaN
max      9498.00000
dtype: float64

In [59]:
import math
# define function to put our new values into the json file
def newJSONvalues(jsondictinput,replacevals):
    jsondict = {}
    jsondict = jsondictinput.copy()
    print("beginning",replacevals["Washington"])
    for idx, item in enumerate(jsondict["features"]):
        state = jsondict["features"][idx]['properties']['name']
        population = jsondict["features"][idx]['properties']['population']
        if math.isnan(replacevals[state]):
            jsondict["features"][idx]['properties']['population'] = 0
        else:
            jsondict["features"][idx]['properties']['population'] = replacevals[state]
    print("end",replacevals["Washington"])
    return jsondict

In [65]:
#statecountsjson = newJSONvalues(usjsondict,statesCTA
#operatingcountsjson = newJSONvalues(usjsondict,operatingCTA)
#acquiredcountsjson = newJSONvalues(usjsondict,acquiredCTA)
#closedcountsjson = newJSONvalues(usjsondict,closedCTA)
#ipocountsjson = newJSONvalues(usjsondict,ipoCTA)

### Save the JSON files

*** Need to save each file individually after creating the new JSON otherwise the dictionary is overwritten ***

In [66]:
statecountsjson = newJSONvalues(usjsondict,statesCTA)
f = open('statecounts.json', mode='w')
json.dump(statecountsjson,f)
f.close()

beginning 2567.0
end 2567.0

In [67]:
operatingcountsjson = newJSONvalues(usjsondict,operatingCTA)
f = open('operatingcounts.json', mode='w')
json.dump(operatingcountsjson,f)
f.close()

beginning 947.0
end 947.0

In [68]:
acquiredcountsjson = newJSONvalues(usjsondict,acquiredCTA)
f = open('acquiredcounts.json', mode='w')
json.dump(acquiredcountsjson,f)
f.close()

beginning 169.0
end 169.0

In [69]:
closedcountsjson = newJSONvalues(usjsondict,closedCTA)
f = open('closedcounts.json', mode='w')
json.dump(closedcountsjson,f)
f.close()

beginning 108.0
end 108.0

In [70]:
ipocountsjson = newJSONvalues(usjsondict,ipoCTA)
f = open('ipocounts.json', mode='w')
json.dump(ipocountsjson,f)
f.close()

beginning 37.0
end 37.0