In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
from patsy import dmatrices
from sklearn.cross_validation import train_test_split
%matplotlib inline

In [2]:
reg_df = pd.read_pickle("reg_df.pkl")

In [3]:
#crunchinvestments = pd.read_csv('D:/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/investments.csv')
#crunchcompanies = pd.read_csv('D:/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/companies.csv')
#crunchaquisitions = pd.read_csv('D:/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/acquisitions.csv')
#crunchrounds = pd.read_csv('D:/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/rounds.csv')
#crunchadditions = pd.read_csv('D:/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/additions.csv')

crunchinvestments = pd.read_csv('/Users/jeffcoggshall/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/investments.csv')
crunchcompanies = pd.read_csv('/Users/jeffcoggshall/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/companies.csv')
crunchaquisitions = pd.read_csv('/Users/jeffcoggshall/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/acquisitions.csv')
crunchrounds = pd.read_csv('/Users/jeffcoggshall/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/rounds.csv')
crunchadditions = pd.read_csv('/Users/jeffcoggshall/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/additions.csv')

In [4]:
crunchinvestments.head(2)

,company_permalink,company_name,company_category_list,company_country_code,company_state_code,company_region,company_city,investor_permalink,investor_name,investor_country_code,investor_state_code,investor_region,investor_city,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/0-6-com,0-6.com,Curated Web,CHN,22,Beijing,Beijing,/organization/dt-capital-partners,DT Capital Partners,CHN,23,Shanghai,Shanghai,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,2008-03-19,2000000.0
1,/organization/004-technologies,004 Technologies,Software,USA,IL,"Springfield, Illinois",Champaign,/organization/venturecapital-de,VCDE Venture Partners,DEU,5,Frankfurt,Frankfurt,/funding-round/1278dd4e6a37fa4b7d7e06c21b3c1830,venture,NaN,2014-07-24,NaN

In [5]:
crunchcompanies.head(2)

,permalink,name,homepage_url,category_list,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at
0,/organization/-fame,#fame,http://livfame.com,Media,10000000,operating,IND,16,Mumbai,Mumbai,1,NaN,2015-01-05,2015-01-05
1,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,700000,operating,USA,DE,DE - Other,Delaware City,2,2014-09-04,2014-03-01,2014-10-14

In [6]:
crunchaquisitions.head(2)

,company_permalink,company_name,company_category_list,company_country_code,company_state_code,company_region,company_city,acquirer_permalink,acquirer_name,acquirer_category_list,acquirer_country_code,acquirer_state_code,acquirer_region,acquirer_city,acquired_at,acquired_month,price_amount,price_currency_code
0,/organization/003-ru,003.RU,Consumer Electronics|Electronics|Internet,RUS,48,Moscow,Moscow,/organization/media-saturn,Media Saturn,Enterprise Software|Media|Sales and Marketing,ESP,56,Barcelona,Barcelona,2012-07-23,2012-07,NaN,USD
1,/organization/0958572-b-c-ltd,0958572 B.C. Ltd.,NaN,NaN,NaN,NaN,NaN,/organization/atlas-intellectual-property-mana...,ATLAS Intellectual Property Management Co.,Finance|FinTech|Mobile|Telecommunications,USA,WA,Seattle,Seattle,2012-02-02,2012-02,9000000.0,USD

In [7]:
crunchrounds.head(2)

,company_permalink,company_name,company_category_list,company_country_code,company_state_code,company_region,company_city,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,#fame,Media,IND,16,Mumbai,Mumbai,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,2015-01-05,10000000.0
1,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA,DE,DE - Other,Delaware City,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,2014-10-14,NaN

In [8]:
crunchadditions.head()

        content month_str  year_str  value
0  Acquisitions   1960-01      1960      1
1  Acquisitions   1966-11      1966      1
2  Acquisitions   1967-04      1967      1
3  Acquisitions   1972-01      1972      1
4  Acquisitions   1973-01      1973      1

In [9]:
usinvestments = crunchinvestments[crunchinvestments["company_country_code"]=='USA']
uscompanies = crunchcompanies[crunchcompanies["country_code"]=='USA']
usaquisitions = crunchaquisitions[crunchaquisitions["company_country_code"]=='USA']
usrounds = crunchrounds[crunchrounds["company_country_code"]=='USA']

In [10]:
usrounds.head(2)

,company_permalink,company_name,company_category_list,company_country_code,company_state_code,company_region,company_city,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
1,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA,DE,DE - Other,Delaware City,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,2014-10-14,NaN
2,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA,DE,DE - Other,Delaware City,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,2014-03-01,700000.0

In [11]:
reg_df.head()

,funding_total_usd,country_code,state_code,funding_rounds,daysToFirstFunding,daysBetweenFirstLastFunding,tier_1,tier_2,tier_3,tier_4,tier_5,statusID
0,700000.0,USA,DE,2,-187.0,227.0,0.0,0.0,0.0,0.0,0.0,1
2,33600000.0,USA,CA,4,733.0,1040.0,0.0,0.0,0.0,0.0,0.0,1
3,1150050.0,USA,CA,3,-12.0,931.0,1.0,1.0,0.0,1.0,0.0,1
7,1750000.0,USA,NJ,1,9922.0,0.0,0.0,0.0,0.0,0.0,0.0,1
8,6000000.0,USA,NY,1,465.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [12]:
regdf1 = reg_df[reg_df["tier_1"]==1]
regdf2 = reg_df[reg_df["tier_2"]==1]
regdf3 = reg_df[reg_df["tier_3"]==1]
regdf4 = reg_df[reg_df["tier_4"]==1]
regdf5 = reg_df[reg_df["tier_5"]==1]

In [13]:
regdf1.head()

,funding_total_usd,country_code,state_code,funding_rounds,daysToFirstFunding,daysBetweenFirstLastFunding,tier_1,tier_2,tier_3,tier_4,tier_5,statusID
3,1150050.0,USA,CA,3,-12.0,931.0,1.0,1.0,0.0,1.0,0.0,1
22,55000000.0,USA,CA,1,1107.0,0.0,1.0,0.0,0.0,0.0,0.0,1
33,5500000.0,USA,CA,2,-194.0,666.0,1.0,1.0,0.0,0.0,0.0,1
45,5000000.0,USA,CA,1,467.0,0.0,1.0,0.0,0.0,0.0,0.0,0
58,117000000.0,USA,NY,5,3958.0,1406.0,1.0,0.0,0.0,1.0,1.0,1

In [14]:
operating = uscompanies[uscompanies["status"]=='operating']
acquired = uscompanies[uscompanies["status"]=='acquired']
closed = uscompanies[uscompanies["status"]=='closed']
ipo = uscompanies[uscompanies["status"]=='ipo']

In [15]:
statecounts = pd.DataFrame({'count': usrounds.groupby(['company_state_code']).size()}).reset_index()
operatingcounts = pd.DataFrame({'count': operating.groupby(['state_code']).size()}).reset_index()
acquiredcounts = pd.DataFrame({'count': acquired.groupby(['state_code']).size()}).reset_index()
closedcounts = pd.DataFrame({'count': closed.groupby(['state_code']).size()}).reset_index()
ipocounts = pd.DataFrame({'count': ipo.groupby(['state_code']).size()}).reset_index()

In [16]:
tier1counts = pd.DataFrame({'count': regdf1.groupby(['state_code']).size()}).reset_index()
tier2counts = pd.DataFrame({'count': regdf2.groupby(['state_code']).size()}).reset_index()
tier3counts = pd.DataFrame({'count': regdf3.groupby(['state_code']).size()}).reset_index()
tier4counts = pd.DataFrame({'count': regdf4.groupby(['state_code']).size()}).reset_index()
tier5counts = pd.DataFrame({'count': regdf5.groupby(['state_code']).size()}).reset_index()

In [17]:
tier1counts[:3]

  state_code  count
0         AZ      4
1         CA   1378
2         CO     25

In [18]:
statecounts[:3]

  company_state_code  count
0                 AK     27
1                 AL    176
2                 AR    237

In [19]:
acquiredcounts[:3]

  state_code  count
0         AL      6
1         AR      2
2         AZ     20

In [20]:
differentiatedrounds = usrounds[['company_name','company_category_list','funding_round_type',
          'company_state_code']].groupby(['company_state_code',
        'funding_round_type']).agg(['count'])

In [21]:
differentiatedrounds.head()

                                       company_name company_category_list
                                              count                 count
company_state_code funding_round_type
AK                 angel                          1                     1
                   debt_financing                 3                     2
                   equity_crowdfunding            6                     6
                   post_ipo_equity                1                     1
                   private_equity                 1                     1

In [22]:
stateabbrev = pd.read_csv('state_abbreviations.csv',names=["fullname","abbrev","code"])

In [23]:
companies_state = crunchcompanies['state_code']
rounds_state = crunchrounds['company_state_code']
investments_state = crunchinvestments['company_state_code']

In [57]:
stateabbrev.head(3)

  fullname  abbrev code
0  Alabama    Ala.   AL
1   Alaska  Alaska   AK
2  Arizona   Ariz.   AZ

In [25]:
stateabbrev.shape

(50, 3)

In [26]:
statecounts.shape

(53, 2)

In [27]:
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [28]:
q_statecounts = "Select * from statecounts left join stateabbrev on stateabbrev.code= statecounts.company_state_code"
q_operatingcounts = "Select * from operatingcounts left join stateabbrev on stateabbrev.code= operatingcounts.state_code"
q_acquiredcounts = "Select * from acquiredcounts left join stateabbrev on stateabbrev.code= acquiredcounts.state_code"
q_closedcounts = "Select * from closedcounts left join stateabbrev on stateabbrev.code= closedcounts.state_code"
q_ipocounts = "Select * from ipocounts left join stateabbrev on stateabbrev.code= ipocounts.state_code"

In [59]:
q_tier1counts = "Select * from tier1counts left join stateabbrev on stateabbrev.code= tier1counts.state_code"
q_tier2counts = "Select * from tier2counts left join stateabbrev on stateabbrev.code= tier2counts.state_code"
q_tier3counts = "Select * from tier3counts left join stateabbrev on stateabbrev.code= tier3counts.state_code"
q_tier4counts = "Select * from tier4counts left join stateabbrev on stateabbrev.code= tier4counts.state_code"
q_tier5counts = "Select * from tier5counts left join stateabbrev on stateabbrev.code= tier5counts.state_code"

In [60]:
tier1match = pysqldf(q_tier1counts)
tier2match = pysqldf(q_tier2counts)
tier3match = pysqldf(q_tier3counts)
tier4match = pysqldf(q_tier4counts)
tier5match = pysqldf(q_tier5counts)

In [29]:
statecountsmatch = pysqldf(q_statecounts)
operatingcountsmatch = pysqldf(q_operatingcounts)
acquiredcountsmatch = pysqldf(q_acquiredcounts)
closedcountsmatch = pysqldf(q_closedcounts)
ipocountsmatch = pysqldf(q_ipocounts)

In [30]:
statecountsmatch.fillna(value=0,inplace=True)
operatingcountsmatch.fillna(value=0,inplace=True)
acquiredcountsmatch.fillna(value=0,inplace=True)
closedcountsmatch.fillna(value=0,inplace=True)
ipocountsmatch.fillna(value=0,inplace=True)

In [61]:
tier1match.fillna(value=0,inplace=True)
tier2match.fillna(value=0,inplace=True)
tier3match.fillna(value=0,inplace=True)
tier4match.fillna(value=0,inplace=True)
tier5match.fillna(value=0,inplace=True)

In [62]:
tier2match.tail(7)

   state_code  count    fullname abbrev code
28         TN      2   Tennessee  Tenn.   TN
29         TX     29       Texas   Tex.   TX
30         UT      9        Utah   Utah   UT
31         VA      5    Virginia    Va.   VA
32         VT      2     Vermont    Vt.   VT
33         WA     45  Washington  Wash.   WA
34         WI      2   Wisconsin   Wis.   WI

In [31]:
# Note "VI" is "Virgin Islands" and we can ignore I think
statecountsmatch.tail(7)

   company_state_code  count       fullname abbrev code
46                 VA   1302       Virginia    Va.   VA
47                 VI      6              0      0    0
48                 VT    110        Vermont    Vt.   VT
49                 WA   2567     Washington  Wash.   WA
50                 WI    448      Wisconsin   Wis.   WI
51                 WV     27  West Virginia  W.Va.   WV
52                 WY     32        Wyoming   Wyo.   WY

In [32]:
ipocountsmatch.tail(7)

   state_code  count       fullname abbrev code
38         UT     12           Utah   Utah   UT
39         VA     22       Virginia    Va.   VA
40         VI      1              0      0    0
41         VT      1        Vermont    Vt.   VT
42         WA     37     Washington  Wash.   WA
43         WI      5      Wisconsin   Wis.   WI
44         WV      1  West Virginia  W.Va.   WV

In [33]:
closedcountsmatch.tail(7)

   state_code  count       fullname abbrev code
42         TX    158          Texas   Tex.   TX
43         UT     33           Utah   Utah   UT
44         VA     47       Virginia    Va.   VA
45         VT      3        Vermont    Vt.   VT
46         WA    108     Washington  Wash.   WA
47         WI     21      Wisconsin   Wis.   WI
48         WV      1  West Virginia  W.Va.   WV

## Import JSON file of map data for US states

In [63]:
import json
usjson = json.load(open("us-state-centroids.json"))

In [64]:
from collections import OrderedDict, defaultdict
usjsondict = json.load(open("us-state-centroids.json"),
                       object_pairs_hook = OrderedDict)

In [65]:
data = pd.DataFrame(usjson["features"])
datadict = pd.DataFrame(usjsondict['features'])

In [37]:
propertiesdf = pd.DataFrame(OrderedDict(datadict['properties'])).transpose()

In [66]:
propertiesdf.head(2)

  code     name population
0  NaN  Alabama    4447100
1  NaN   Alaska     626932

### Join count by state data to JSON file

In [39]:
q2_statecounts = "Select * from propertiesdf left join statecountsmatch on propertiesdf.name= statecountsmatch.fullname"
q2_operatingcounts = "Select * from propertiesdf left join operatingcountsmatch on propertiesdf.name= operatingcountsmatch.fullname"
q2_acquiredcounts = "Select * from propertiesdf left join acquiredcountsmatch on propertiesdf.name= acquiredcountsmatch.fullname"
q2_closedcounts = "Select * from propertiesdf left join closedcountsmatch on propertiesdf.name= closedcountsmatch.fullname"
q2_ipocounts = "Select * from propertiesdf left join ipocountsmatch on propertiesdf.name= ipocountsmatch.fullname"

statecountsmatched = pysqldf(q2_statecounts)
operatingcountsmatched = pysqldf(q2_operatingcounts)
acquiredcountsmatched = pysqldf(q2_acquiredcounts)
closedcountsmatched = pysqldf(q2_closedcounts)
ipocountsmatched = pysqldf(q2_ipocounts)

In [68]:
q2_tier1counts = "Select * from propertiesdf left join tier1match on propertiesdf.name= tier1match.fullname"
q2_tier2counts = "Select * from propertiesdf left join tier2match on propertiesdf.name= tier2match.fullname"
q2_tier3counts = "Select * from propertiesdf left join tier3match on propertiesdf.name= tier3match.fullname"
q2_tier4counts = "Select * from propertiesdf left join tier4match on propertiesdf.name= tier4match.fullname"
q2_tier5counts = "Select * from propertiesdf left join tier5match on propertiesdf.name= tier5match.fullname"

tier1matched = pysqldf(q2_tier1counts)
tier2matched = pysqldf(q2_tier2counts)
tier3matched = pysqldf(q2_tier3counts)
tier4matched = pysqldf(q2_tier4counts)
tier5matched = pysqldf(q2_tier4counts)

In [40]:
acquiredcountsmatch.head(2)

  state_code  count  fullname abbrev code
0         AL      6   Alabama   Ala.   AL
1         AR      2  Arkansas   Ark.   AR

In [41]:
statesCT = statecountsmatched[["name","count"]]
operatingCT = operatingcountsmatched[["name","count"]]
acquiredCT = acquiredcountsmatched[["name","count"]]
closedCT = closedcountsmatched[["name","count"]]
ipoCT = ipocountsmatched[["name","count"]]

statesCTA = pd.Series(np.array(statesCT["count"]),index=statesCT["name"])
operatingCTA = pd.Series(np.array(operatingCT["count"]),index=statesCT["name"])
acquiredCTA = pd.Series(np.array(acquiredCT["count"]),index=statesCT["name"])
closedCTA = pd.Series(np.array(closedCT["count"]),index=statesCT["name"])
ipoCTA = pd.Series(np.array(ipoCT["count"]),index=statesCT["name"])

In [69]:
tier1CT = tier1matched[["name","count"]]
tier2CT = tier2matched[["name","count"]]
tier3CT = tier3matched[["name","count"]]
tier4CT = tier4matched[["name","count"]]
tier5CT = tier5matched[["name","count"]]

tier1CTA = pd.Series(np.array(tier1CT["count"]),index=tier1CT["name"])
tier2CTA = pd.Series(np.array(tier2CT["count"]),index=tier2CT["name"])
tier3CTA = pd.Series(np.array(tier3CT["count"]),index=tier3CT["name"])
tier4CTA = pd.Series(np.array(tier4CT["count"]),index=tier4CT["name"])
tier5CTA = pd.Series(np.array(tier5CT["count"]),index=tier5CT["name"])

In [71]:
tier1CTA.tail(7)

name
Vermont           1.0
Virginia         19.0
Washington       42.0
West Virginia     NaN
Wisconsin         1.0
Wyoming           NaN
Puerto Rico       NaN
dtype: float64

In [42]:
statesCTA.tail(2)

name
Wyoming        32.0
Puerto Rico     NaN
dtype: float64

In [43]:
colName = ['stateCode', 'counts']
#pd.DataFrame(np.array(statecounts), columns=colName)

In [44]:
usjsondict["features"][0]['properties']['population']

4447100

In [45]:
usjsondict["features"][0]['properties']

OrderedDict([('name', 'Alabama'), ('population', 4447100)])

In [46]:
statesCTA['Washington']

2567.0

In [47]:
ipoCTA['Washington']

37.0

In [48]:
closedCTA['Washington']

108.0

In [49]:
#lets get some scales for all of these
# really should create a function that gets all the values
# and then pipes them into the d3
operatingCTA.describe()

/Users/jeffcoggshall/anaconda/envs/python35/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

count      50.00000
mean      583.12000
std      1403.00857
min        14.00000
25%             NaN
50%             NaN
75%             NaN
max      9498.00000
dtype: float64

In [72]:
import math
# define function to put our new values into the json file
def newJSONvalues(jsondictinput,replacevals):
    jsondict = {}
    jsondict = jsondictinput.copy()
    print("beginning",replacevals["Washington"])
    for idx, item in enumerate(jsondict["features"]):
        state = jsondict["features"][idx]['properties']['name']
        population = jsondict["features"][idx]['properties']['population']
        if math.isnan(replacevals[state]):
            jsondict["features"][idx]['properties']['population'] = 0
        else:
            jsondict["features"][idx]['properties']['population'] = replacevals[state]
    print("end",replacevals["Washington"])
    return jsondict

In [51]:
#statecountsjson = newJSONvalues(usjsondict,statesCTA
#operatingcountsjson = newJSONvalues(usjsondict,operatingCTA)
#acquiredcountsjson = newJSONvalues(usjsondict,acquiredCTA)
#closedcountsjson = newJSONvalues(usjsondict,closedCTA)
#ipocountsjson = newJSONvalues(usjsondict,ipoCTA)

### Save the JSON files

*** Need to save each file individually after creating the new JSON otherwise the dictionary is overwritten ***

In [76]:
tier1countsjson = newJSONvalues(usjsondict,tier1CTA)
f = open('tier1counts.json', mode='w')
json.dump(tier1countsjson,f)
f.close()

beginning 42.0
end 42.0

In [78]:
tier2countsjson = newJSONvalues(usjsondict,tier2CTA)
f = open('tier2counts.json', mode='w')
json.dump(tier2countsjson,f)
f.close()

beginning 45.0
end 45.0

In [79]:
tier3countsjson = newJSONvalues(usjsondict,tier3CTA)
f = open('tier3counts.json', mode='w')
json.dump(tier3countsjson,f)
f.close()

beginning 25.0
end 25.0

In [80]:
tier4countsjson = newJSONvalues(usjsondict,tier4CTA)
f = open('tier4counts.json', mode='w')
json.dump(tier4countsjson,f)
f.close()

beginning 43.0
end 43.0

In [81]:
tier5countsjson = newJSONvalues(usjsondict,tier5CTA)
f = open('tier5counts.json', mode='w')
json.dump(tier5countsjson,f)
f.close()

beginning 43.0
end 43.0

In [52]:
statecountsjson = newJSONvalues(usjsondict,statesCTA)
f = open('statecounts.json', mode='w')
json.dump(statecountsjson,f)
f.close()

beginning 2567.0
end 2567.0

In [53]:
operatingcountsjson = newJSONvalues(usjsondict,operatingCTA)
f = open('operatingcounts.json', mode='w')
json.dump(operatingcountsjson,f)
f.close()

beginning 947.0
end 947.0

In [54]:
acquiredcountsjson = newJSONvalues(usjsondict,acquiredCTA)
f = open('acquiredcounts.json', mode='w')
json.dump(acquiredcountsjson,f)
f.close()

beginning 169.0
end 169.0

In [55]:
closedcountsjson = newJSONvalues(usjsondict,closedCTA)
f = open('closedcounts.json', mode='w')
json.dump(closedcountsjson,f)
f.close()

beginning 108.0
end 108.0

In [56]:
ipocountsjson = newJSONvalues(usjsondict,ipoCTA)
f = open('ipocounts.json', mode='w')
json.dump(ipocountsjson,f)
f.close()

beginning 37.0
end 37.0