In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
from patsy import dmatrices
from sklearn.cross_validation import train_test_split
%matplotlib inline

In [4]:
#crunchinvestments = pd.read_csv('D:/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/investments.csv')
#crunchcompanies = pd.read_csv('D:/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/companies.csv')
crunchinvestments = pd.read_csv('/Users/jeffcoggshall/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/investments.csv')
crunchcompanies = pd.read_csv('/Users/jeffcoggshall/Dropbox/Prog/Py16/AAMTS/octo-parakeet/Crunchbase/companies.csv')

In [5]:
#crunchinvestments.head(2)
crunchcompanies.head(5)

,permalink,name,homepage_url,category_list,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at
0,/organization/-fame,#fame,http://livfame.com,Media,10000000,operating,IND,16,Mumbai,Mumbai,1,NaN,2015-01-05,2015-01-05
1,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,700000,operating,USA,DE,DE - Other,Delaware City,2,2014-09-04,2014-03-01,2014-10-14
2,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,3406878,operating,NaN,NaN,NaN,NaN,1,NaN,2014-01-30,2014-01-30
3,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,2000000,operating,CHN,22,Beijing,Beijing,1,2007-01-01,2008-03-19,2008-03-19
4,/organization/004-technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,-,operating,USA,IL,"Springfield, Illinois",Champaign,1,2010-01-01,2014-07-24,2014-07-24

In [6]:
crunchco = crunchinvestments["company_name"]
crunchco2 = crunchcompanies["name"]

In [7]:
print(crunchco.shape,crunchco2.shape)

(168647,) (66368,)

In [8]:
glassdf = pd.read_csv('main_df_Aug1.csv')
#glassdf.head()
glassco = glassdf["name"]
glassco.shape

(28640,)

In [9]:
crunchset = set(crunchco)
crunchset2 = set(crunchco2)
glassset = set(glassco)

print(len(crunchset),len(crunchset2),len(glassset))

44579 66103 8504

In [10]:
crunchintersect = crunchset2.intersection(crunchset)
len(crunchintersect)

44578

In [11]:
crunchglassintersect = crunchset2.intersection(glassset)
len(crunchglassintersect)

994

### Fuzzy String Matching

In [14]:
import string
s = "string. With. Punctuation?" # Sample string 
#out = s.translate(string.maketrans("",""), string.punctuation)

exclude = set(string.punctuation)
s = ''.join(ch for ch in s if ch not in exclude)

In [28]:
import re, string, timeit

s = "string. With. Punctuation"
exclude = set(string.punctuation)


def test_set(s):
    return ''.join(ch for ch in s if ch not in exclude)

def remstringspace(s):  # From Vinko's solution, with fix.
    regex = re.compile('[%s]' % re.escape(string.punctuation))
    s = "".join(s.split())
    return regex.sub('', s).lower()


def test_repl(s):  # From S.Lott's solution
    for c in string.punctuation:
        s=s.replace(c,"")
    return s

In [29]:
test_re(s)

'stringwithpunctuation'

In [ ]:
def fuzzymatchratio(str1,str2):
    from difflib import SequenceMatcher
    #first clean strings:
    str1 = str1.lower().strip()
    str2 = str2.lower().strip()
    seq = SequenceMatcher(str1,str2)
    return

In [ ]:
import difflib

In [ ]:
difflib.get_close_matches('appel', ['ape', 'apple', 'peach', 'puppy'])

In [30]:
crunchset2 = list(crunchset2)

In [33]:
crunchset2[:10]

[nan,
 'CreativeLive',
 'Zamzee - A Welltok Company',
 'JG Real Estate',
 'Taplet',
 'Coled Display Technology',
 'MedLink',
 'LearnCube',
 'RatherGather',
 'diggidi']

In [48]:
def remstringspace(s,n):  # From Vinko's solution, with fix.
    s = str(s)
    regex = re.compile('[%s]' % re.escape(string.punctuation))
    s = "".join(s.split())
    regex.sub('', s).lower()
    
    #limit to first n characters
    s = s[:n]
    
    return s

### The number of matching names after cleaning

In [49]:
# only match the first n characters - currently set at 12
# To be more aggressive, set to 8 and can get 1600 matches
crunchsetclean = [remstringspace(x,12) for x in crunchset]
crunchsetclean2 = [remstringspace(x,12) for x in crunchset2]
glasssetclean = [remstringspace(x,12) for x in glassset]

crunchglasscleanintersect = set(crunchsetclean2).intersection(set(glasssetclean))
len(crunchglasscleanintersect)

1101

In [ ]:
#crunchset2

In [ ]:
# Takes FOREVER....
# num_matches = 0
# for name in glassset:
#     for other_name in crunchset2:
#         if difflib.get_close_matches(name,other_name,cutoff=0.7):
#             num_matches +=1
# num_matches

In [ ]:
import string
def normalize(s):
    for p in string.punctuation:
        s = s.replace(p, '')
        
    return s.lower().strip()

import editdist

In [ ]:
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [ ]:
cb_df = pd.read_csv("Users/Jeff/Dropbox/Prog/Py16/AAMTS/McNulty/octo-parakeet/Crunchbase/companies.csv")

cName_df = pd.DataFrame()
cbUSA_df = cb_df[cb_df['country_code']=='USA']

q = 'select * from cbUSA_df join dta on dta.name = cbUSA_df.name'
merge_df = pysqldf(q)

In [ ]:
# load dataset
dta = pd.read_csv("main_df_Aug1.csv")

In [ ]:
dta.head()

In [ ]:
plt.hist(list(dta['overallRating']))

In [ ]:
dta.columns

In [ ]:
# add "affair" column: 1 represents having affairs, 0 represents not
dta['goodCompany'] = (dta.overallRating >= 3.8).astype(int)

In [ ]:
dta['numberOfRatings'].describe()

# Data Visualization

In [ ]:
# show plots in the notebook
%matplotlib inline

# Classification Models

In [ ]:
dta.columns

In [ ]:
X = dta[['numberOfRatings','compensationAndBenefitsRating','careerOpportunitiesRating', \
        'recommendToFriendRating','cultureAndValuesRating','workLifeBalanceRating','seniorLeadershipRating', \
        'ceonumratings','ceopctapprove']]

y = dta['goodCompany']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
## Here are some possible models to use, but feel free to import whichever ones you like

from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score, roc_curve

In [ ]:
## Here are the precision-recall curve and log-likelihood computation functions

import numpy as np
import matplotlib.pyplot as plt


def pr_curve(truthvec, scorevec, digit_prec=2):
    threshvec = np.unique(np.round(scorevec,digit_prec))
    numthresh = len(threshvec)
    tpvec = np.zeros(numthresh)
    fpvec = np.zeros(numthresh)
    fnvec = np.zeros(numthresh)

    for i in range(numthresh):
        thresh = threshvec[i]
        tpvec[i] = sum(truthvec[scorevec>=thresh])
        fpvec[i] = sum(1-truthvec[scorevec>=thresh])
        fnvec[i] = sum(truthvec[scorevec<thresh])
    recallvec = tpvec/(tpvec + fnvec)
    precisionvec = tpvec/(tpvec + fpvec)
    plt.plot(precisionvec,recallvec)
    plt.axis([0, 1, 0, 1])
    return (recallvec, precisionvec, threshvec)

def log_lik_binary(truthvec, probvec):
    return np.sum((np.log(probvec)*truthvec) + (np.log(1-probvec)*(1-truthvec)))

In [ ]:
# Logistic Regression
model_lr = LogisticRegression()
model_lr.fit(X_train, y_train)
pred_vals_lr = model_lr.predict_proba(X_test)

In [ ]:
log_lik_binary(y_test,pred_vals_lr[:,1])

In [ ]:
pr_curve(y_test,pred_vals_lr[:,1]);

In [ ]:
fpr, tpr, thresholds = roc_curve(y_test,pred_vals_lr[:,1])
plt.plot(fpr, tpr)

In [ ]:
roc_auc_score(y_test,pred_vals_lr[:,1])