In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [39]:
df = pd.DataFrame.from_csv('Crunchbase/investments.csv', index_col = None)

In [42]:
df = df[['company_name', 'company_permalink', 'investor_name', 'funding_round_type', 'funding_round_code', 'funded_at', 'raised_amount_usd']]

In [43]:
df.head()

,company_name,company_permalink,investor_name,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,0-6.com,/organization/0-6-com,DT Capital Partners,venture,A,2008-03-19,2000000.0
1,004 Technologies,/organization/004-technologies,VCDE Venture Partners,venture,NaN,2014-07-24,NaN
2,01Games Technology,/organization/01games-technology,Cyberport Hong Kong,undisclosed,NaN,2014-07-01,41250.0
3,H2O.ai,/organization/0xdata,Capital One,venture,B,2015-11-09,20000000.0
4,H2O.ai,/organization/0xdata,Nexus Venture Partners,seed,NaN,2013-05-22,3000000.0

In [189]:
#Creating Tier Dummy Variable
tier_1 = []
tier_2 = []
tier_3 = []
tier_4 = []
tier_5 = []

for investor in df.investor_name:
    
    #Tier 1
    if investor in {'Andreessen Horowitz', 'Khosla Ventures', 'SV Angel', 'Accel', 'New Enterprise Associates', 'Sequoia Capital', 'Venrock', 'First Round', 'Spark Capital', 'Triangle Peak Partners'}:
        tier_1.append(1)
    else:
        tier_1.append(0)
    
    #Tier 2
    if investor in {'Franklin Square Group', 'Kleiner Perkins Caufield & Byers', 'Google Ventures', 'Founders Fund', 'ARCH Venture Partners', 'Bezos Expeditions', 'Lightspeed Venture Partners', 'Thrive Capital', 'General Catalyst Partners', 'Redpoint Ventures'}:
        tier_2.append(1)
    else:
        tier_2.append(0)
        
    #Tier 3
    if investor in {'Atlas Venture', 'QED Investors', 'Greylock Partners', 'Formation 8', 'Bain Capital Ventures', 'Iridium Communications', 'Lerer Hippeau Ventures', 'Collaborative Fund', 'Bessemer Venture Partners', 'Flagship Ventures'}:
        tier_3.append(1)
    else:
        tier_3.append(0)
    
    #Tier 4
    if investor in {'OrbiMed Advisors', 'SherpaVentures', 'Insight Venture Partners', 'IVP', 'True Ventures', 'Greycroft Partners', 'Menlo Ventures', 'Intel Capital', 'Battery Ventures', 'Tiger Global Management'}:
        tier_4.append(1)
    else:
        tier_4.append(0)
        
    #Tier 5
    if investor in {'Deerfield Capital Management', 'Charles River Associates', 'WRF Capital', 'Benchmark', 'FirstMark Capital', 'CrunchFund', 'Canaan Partners', 'Polaris Partners', 'Sofinnova Partners', 'InterWest Partners'}:
        tier_5.append(1)
    else:
        tier_5.append(0)

In [190]:
df['tier_1'] = tier_1
df['tier_2'] = tier_2
df['tier_3'] = tier_3
df['tier_4'] = tier_4
df['tier_5'] = tier_5

,company_name,company_permalink,investor_name,funding_round_type,funding_round_code,funded_at,raised_amount_usd,tier_1,tier_2,tier_3,tier_4,tier_5
0,0-6.com,/organization/0-6-com,DT Capital Partners,venture,A,2008-03-19,2000000.0,0,0,0,0,0
1,004 Technologies,/organization/004-technologies,VCDE Venture Partners,venture,NaN,2014-07-24,NaN,0,0,0,0,0
2,01Games Technology,/organization/01games-technology,Cyberport Hong Kong,undisclosed,NaN,2014-07-01,41250.0,0,0,0,0,0
3,H2O.ai,/organization/0xdata,Capital One,venture,B,2015-11-09,20000000.0,0,0,0,0,0
4,H2O.ai,/organization/0xdata,Nexus Venture Partners,seed,NaN,2013-05-22,3000000.0,0,0,0,0,0
5,H2O.ai,/organization/0xdata,Nexus Venture Partners,venture,B,2015-11-09,20000000.0,0,0,0,0,0
6,H2O.ai,/organization/0xdata,Nexus Venture Partners,venture,NaN,2013-01-03,1700000.0,0,0,0,0,0
7,H2O.ai,/organization/0xdata,Nexus Venture Partners,venture,A,2014-07-19,8900000.0,0,0,0,0,0
8,H2O.ai,/organization/0xdata,Paxion Capital Partners,venture,B,2015-11-09,20000000.0,0,0,0,0,0
9,H2O.ai,/organization/0xdata,Transamerica,venture,B,2015-11-09,20000000.0,0,0,0,0,0
10,H2O.ai,/organization/0xdata,Transamerica Ventures,venture,A,2014-07-19,8900000.0,0,0,0,0,0
11,H2O.ai,/organization/0xdata,Anand Babu Periasamy,venture,NaN,2013-01-03,1700000.0,0,0,0,0,0
12,H2O.ai,/organization/0xdata,Anand Rajaraman,venture,NaN,2013-01-03,1700000.0,0,0,0,0,0
13,H2O.ai,/organization/0xdata,Ash Bhardwaj,venture,A,2014-07-19,8900000.0,0,0,0,0,0
14,H2O.ai,/organization/0xdata,Michael Marks,venture,A,2014-07-19,8900000.0,0,0,0,0,0
15,H2O.ai,/organization/0xdata,Rajesh Ambati,venture,A,2014-07-19,8900000.0,0,0,0,0,0
16,H2O.ai,/organization/0xdata,Rakesh Mathur,venture,A,2014-07-19,8900000.0,0,0,0,0,0
17,One Inc.,/organization/1,Camp One Ventures,seed,NaN,2014-02-05,150000.0,0,0,0,0,0
18,One Inc.,/organization/1,Camp One Ventures,undisclosed,NaN,2013-02-05,NaN,0,0,0,0,0
19,One Inc.,/organization/1,CRV,seed,NaN,2011-07-20,1000050.0,0,0,0,0,0
20,One Inc.,/organization/1,General Catalyst Partners,seed,NaN,2011-07-20,1000050.0,0,1,0,0,0
21,One Inc.,/organization/1,Kima Ventures,seed,NaN,2014-02-05,150000.0,0,0,0,0,0
22,One Inc.,/organization/1,SV Angel,seed,NaN,2011-07-20,1000050.0,1,0,0,0,0
23,One Inc.,/organization/1,True Ventures,seed,NaN,2011-07-20,1000050.0,0,0,0,1,0
24,One Inc.,/organization/1,Gary Vaynerchuk,seed,NaN,2011-07-20,1000050.0,0,0,0,0,0
25,One Inc.,/organization/1,Keith Rabois,seed,NaN,2011-07-20,1000050.0,0,0,0,0,0
26,One Inc.,/organization/1,Michael Dearing,seed,NaN,2011-07-20,1000050.0,0,0,0,0,0
27,One Inc.,/organization/1,Naval Ravikant,seed,NaN,2011-07-20,1000050.0,0,0,0,0,0
28,One Inc.,/organization/1,Rick Marini,seed,NaN,2014-02-05,150000.0,0,0,0,0,0
29,One Inc.,/organization/1,VK Rajaram,seed,NaN,2014-02-05,150000.0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
168617,Zype,/organization/zype,Michael Kassan,seed,NaN,2015-10-27,1600000.0,0,0,0,0,0
168618,Zype,/organization/zype,Todd Barrish,seed,NaN,2015-10-27,1600000.0,0,0,0,0,0
168619,Whisk (formerly Zypsee),/organization/zypsee,ff Venture Capital,seed,NaN,2013-09-25,2150000.0,0,0,0,0,0
168620,Whisk (formerly Zypsee),/organization/zypsee,ff Venture Capital,seed,NaN,2013-07-26,NaN,0,0,0,0,0
168621,Zyraz Technology,/organization/zyraz-technology,GizmoNET IntraWEB.NU PLC,grant,NaN,2009-09-11,5400000.0,0,0,0,0,0
168622,Zyraz Technology,/organization/zyraz-technology,iExploreAsia Credit Union,venture,A,2009-10-09,7991547.0,0,0,0,0,0
168623,Zyraz Technology,/organization/zyraz-technology,iExploreAsia Financial,angel,NaN,2008-01-01,2007363.0,0,0,0,0,0
168624,Zyraz Technology,/organization/zyraz-technology,Zyraz Financial,venture,A,2009-10-09,7991547.0,0,0,0,0,0
168625,Zyrra,/organization/zyrra,LaunchPad Venture Group,seed,NaN,2010-11-15,445000.0,0,0,0,0,0
168626,Zyrra,/organization/zyrra,MassChallenge,seed,NaN,2010-10-21,50000.0,0,0,0,0,0
168627,Zystor,/organization/zystor,Apjohn ventures,venture,A,2004-12-16,8500000.0,0,0,0,0,0
168628,Zystor,/organization/zystor,Hexagon Investments,venture,A,2004-12-16,8500000.0,0,0,0,0,0
168629,Zystor,/organization/zystor,Mason Wells Biomediacl Fund,venture,A,2004-12-16,8500000.0,0,0,0,0,0
168630,Zystor,/organization/zystor,Prolog Ventures,venture,A,2004-12-16,8500000.0,0,0,0,0,0
168631,Zystor,/organization/zystor,State of Wisconsin Investment Board,venture,A,2004-12-16,8500000.0,0,0,0,0,0
168632,Zystor,/organization/zystor,Stonehenge Capital,venture,A,2004-12-16,8500000.0,0,0,0,0,0
168633,Zystor,/organization/zystor,Venture Investors,venture,A,2004-12-16,8500000.0,0,0,0,0,0
168634,Zytoprotec,/organization/zytoprotec,Baxter International,venture,A,2013-01-29,2686600.0,0,0,0,0,0
168635,Zzish,/organization/zzish,Innovate U.K.,grant,NaN,2015-02-25,400000.0,0,0,0,0,0
168636,Zzish,/organization/zzish,Neon Adventures,angel,NaN,2014-10-31,400000.0,0,0,0,0,0
168637,Zzish,/organization/zzish,Technology Strategy Board,seed,NaN,2014-03-24,320000.0,0,0,0,0,0
168638,Zzish,/organization/zzish,Techstars,seed,NaN,2014-03-24,320000.0,0,0,0,0,0
168639,ZZNode Science and Technology,/organization/zznode-science-and-technology-co...,Intel Capital,venture,A,2012-04-01,1587301.0,0,0,0,1,0
168640,Zzzzapp Wireless ltd.,/organization/zzzzapp-com,Eleven,seed,NaN,2013-08-01,33149.0,0,0,0,0,0
168641,Zzzzapp Wireless ltd.,/organization/zzzzapp-com,Eleven,convertible_note,NaN,2014-03-01,41313.0,0,0,0,0,0
168642,Zzzzapp Wireless ltd.,/organization/zzzzapp-com,Eleven,seed,NaN,2013-05-01,32842.0,0,0,0,0,0
168643,ÁERON,/organization/Áeron,Day One Capital Fund Management,venture,A,2014-08-01,NaN,0,0,0,0,0
168644,ÁERON,/organization/Áeron,Széchenyi Capital Fund Management,venture,A,2014-08-01,NaN,0,0,0,0,0
168645,Ôasys,/organization/Ôasys-2,Startupbootcamp,seed,NaN,2015-01-01,18192.0,0,0,0,0,0
168646,İnovatiff Reklam ve Tanıtım Hizmetleri Tic,/organization/İnovatiff-reklam-ve-tanıtım-hizm...,Serkan Erdoğan,grant,NaN,2013-10-01,14851.0,0,0,0,0,0

In [195]:
df.to_csv('VC_tiers.csv')